.feedback-preview-conteiner{
    margin-bottom: 16px;
    .feedback-preview-box{
        padding:  4px;

        .feedback-email{
            font-size: 13px;
            font-weight: 600;
            margin-bottom: 2px;
        }
        .feedback-msg{
            color: rgb(156, 151, 151);
        }
    }
.user-img{
 width: 40px;
border-radius: 3px;
}
}