.video-preview-conteiner{
    width: 500px;
padding: 10px;
margin-bottom: 3px;
border: 3px solid black;
cursor: pointer;
&:hover{
    background-color: rgb(231, 224, 224);
}

.prev-video-tumblr{
    outline: 4px solid red;
    margin-inline-end: 8px;

    
}
.video-info{

    .prev-video-name{
        text-decoration: underline;
    }
    flex-grow: 1;
}
.prev-play-btb{
    
    font-size:40px;
    right: 100%;
    :hover{
        color: red;
    }
}

}